@page
@model GEM.GroupModel
@{
    ViewData["Title"] = "Group";
}

<h1 class="display-4">Alert User Groups</h1>
<p>You can register into an <em>alert user group</em> here, receiving only alerts you care about.</p>
<p>Here admins can manage <em>alert user groups</em>. Viewing and editing user lists as they see fit.</p>
