@page
@model GEM.AboutModel
@{
    ViewData["Title"] = "About";
}

<h1 class="display-4">About Aurora</h1>
<p>Aurora is a microservice toolset developed by Northlight Services. The main purpose of Aurora is to provide an à la carte expereice, providing a variety of ArcGIS geosurvey tools that you need.</p>

