@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the GEM tool homepage</h1>
    <p>Learn more about <a href="https://docs.microsoft.com/aspnet/core">Northlight Services Aurora microservices toolset and what it can do for you.</a>.</p>
</div>
