@page
@model LiveMapPageModel
@{
    ViewData["Title"] = "Live Map";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<p>Monitor your devices' health live and in real time using ArcGIS Online web maps.</p>


<iframe class="MongoMap"
src="https://charts.mongodb.com/charts-senior-project-eryrt/embed/charts?id=aad7e1d4-890b-4839-a962-fbde09dee544&autorefresh=60&theme=light">
</iframe>