@page
@model MapModel
@{
    ViewData["Title"] = "Live Map";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<p>Monitor your device's health live and in real time using the ArcGIS Online web maps.</p>
