@page
@model GEM.SubscriptionsPageModel
@{
    ViewData["Title"] = "Subscriptions";
}

<h1 class="display-4">Subscriptions</h1>
<p>You can subscribe to a selected <em>Subscription</em> profile here, receiving only alerts you care about.</p>
<p>Here admins can fully manage all the <em>Subscriptions</em>.</p>
