@page
@model GEM.SubscriptionsPageModel
@using GEM.Model 
@{
	ViewData["Title"] = "Subscriptions";
}

<h1 class="display-4">Subscriptions</h1>
<p>You can subscribe to a selected <em>Subscription</em> profile here, receiving only alerts you care about.<br>Here admins can fully manage all the <em>Subscriptions</em>.</p>


<!-- SUBSCRIPTION MENUBAR -->
<form method="post">
	<div class="task_menubar">
		<div class="menubar_createColumn column">
			<input class="createColumn_neworcancelButton createToggle" id="newTask" type="button" name="createOrCancel" value="New Subscription" />
			<input class="createColumn_neworcancelButton cancelToggle cancel" id="cancelTask" type="button" name="createOrCancel" value="Cancel Subscription" />
		</div>
		<div class="newTaskParameters column">
			<div class="saveOrApplyColumn menubar_applyColumn">
				<button class="saveOrApplyButton applyColumn_button" name="createOrCancel" type="submit" value="apply" onclick="">apply</button>
			</div>
			<div class="menubar_tasknameColumn cancel">
				<span class="menubar_label">Subscription Name</span>
				<input class="tasknameColumn_inputName" type="text" name="createOrCancel" value="" placeholder="" />
			</div>
			<div class="saveOrApplyColumn menubar_saveColumn cancel">
				<button class="saveOrApplyButton saveColumn_button" name="createOrCancel" type="button" value="save" onclick="">save</button>
			</div>
		</div>
		<div class="menubar_tasklistColumn column">
			<div class="tasklistColumn_container">
				<span class="menubar_label">Subscriptions</span>
				<div class="dropdownGem closed taskList">
					<div class="dropdownGem-title" id="taskDropdownButton">
						<input asp-for="GroupName" class="selection taskSelection" type="text" />
						<i class="fas fa-play dropdown-arrow taskArrow"></i>
					</div>
					<div class="dropdownGem-menu">
						<ul class="dropdownUL taskUL">
							@foreach (Subscription sub in Fetcher._DEMO_SUBSCRIPTIONS) {
								<li class="taskLI">@sub.GroupName</li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="task_baseboard">
		<span class="baseboard_subscriberNote">Select a subscription you want to subscribe to at the top right or create a new one at the top left. Select Apply or Save whenever you've entered your info.</span>
		<div class="baseboard_nameEntry entryFields">
			<label asp-for="FirstName" class="subscriberFieldLabel ">First Name</label>
			<input class="subscriberFieldTextbox" type="text" name="firstName" />
			<label asp-for="LastName" class="subscriberFieldLabel ">Last Name</label>
			<input class="subscriberFieldTextbox" type="text" name="lastName" />
		</div>
		<div class="baseboard_emailEntry entryFields">
			<label asp-for="Email" class="subscriberFieldLabel ">Email</label>
			<input class="subscriberFieldTextbox" type="email" name="email" />
		</div>
	</div>
</form>











<style>

	/* DROPDOWN STYLING STARTS HERE ----------------------------------------------------------------------------------------------------------------------------------------------------*/

	/* Dropdown Button */
	.dropbtn {
		background-color: red;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		padding: 10px 20px;
		margin: 5px 10px 5px 0;
	}

	.arrow {
		border: solid black;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 3px;
	}

	.down {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
		position: relative;
		display: inline-block;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f1f1f1;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}

		/* Inside the dropdown */
		.dropdown-content label input {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
		}

		/* Change color of dropdown links on hover */
		.dropdown-content label:hover {
			background-color: #ddd;
		}

	/* Show the dropdown menu on hover */
	.dropdown:hover .dropdown-content {
		display: block;
	}

	/* Change the background color of the dropdown button when the dropdown content is shown */
	.dropdown:hover .dropbtn {
		background-color: lightcoral;
	}


	/* FORM STYLING STARTS HERE ---------------------------------------------------------------------------------------------------------------------------------------------------*/

	/* Style the form - display items horizontally */
	.form-inline {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

		/* Add some margins for each label */
		.form-inline label {
			margin: 5px 10px 5px 0;
		}

		/* Style the input fields */
		.form-inline input {
			vertical-align: middle;
			margin: 5px 10px 5px 0;
			padding: 10px;
			background-color: #fff;
			border: 1px solid #ddd;
		}

	/* Style the submit button */


	#submit {
		padding: 10px 20px;
		background-color: dodgerblue;
		border: 1px solid #ddd;
		color: white;
	}

	#submit {
		background-color: royalblue;
	}
</style>