@page
@model GEM.TaskModel
@{
    ViewData["Title"] = "Task";
}

<h1 class="display-4">Tasks</h1>
<p>Create tasks from your incoming geodata. These tasks will allow you attach event-based rules to any field in your geodata receiving alerts when you need them, where you need them, all in real-time.</p>

<h2>Generated with plain html</h2>
<table id="tasks">
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    <tr>
        <td>Here is where the name goes.</td>
        <td>Here is where the last name goes</td>
    </tr>
</table>

<h3>Generated with htmltags</h3>

@Model.generateTable()