@page
@model GEM.TaskModel
@{
    ViewData["Title"] = "Task";
}

<h1 class="display-4">Tasks</h1>
<p>Create tasks from your incoming geodata. These tasks will allow you attach event-based rules to any field in your geodata receiving alerts when you need them, where you need them, all in real-time.</p>

