@page
@model GEM.TaskModel
@{
    ViewData["Title"] = "Task";
}
    <head>
        <style>
            table {
                border: 2px solid black;
            }

            th {
                border-bottom: 2px solid black;
                background-color: lightgray;
            }

            tr:hover {
                background-color: #f5f5f5;
            }

        </style>
    </head>

<h1 class="display-4">Tasks</h1>
<p>Create tasks from your incoming geodata. These tasks will allow you attach event-based rules to any field in your geodata receiving alerts when you need them, where you need them, all in real-time.</p>

<h2>Routers</h2>

@Model.GenerateTable()


